<!DOCTYPE html>
<html ⚡ lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="description" content="<%= description %>">
  <meta name="author" content="Mike Polinowski">
  <meta name="application-name" content="INSTAR Wissensdatenbank">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@INSTAR_DE" />
  <meta property="twitter:url" content="<%- canonical %>" />
  <meta property="twitter:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= headline %>" />
  <meta property="og:url" content="<%- canonical %>" />
  <meta property="og:image" content="<%= ampimg %>" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="597" />
  <meta property="og:image:height" content="382" />
  <link rel="manifest" href="/manifest.json">
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="keywords" content="IP Kameras, IP Kamera, Netzwerkkameras, IP Netzwerkkameras, Überwachungskameras, drahtlose IP Kameras, WLAN Kameras, Netzwerkgeräte, PoE Kameras, Power over Ethernet" />
  <title>
      <%= title %>
  </title>
  <link rel="canonical" href="<%- canonical %>">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
  <script async custom-element="amp-analytics"
    src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

  <!-- http://schema.org/TechArticle -->
  <% include ./_partials/amp/_schemaTechArticle.ejs %>

  <% include ./_partials/amp/_amp-boilerplate.css %>
  <% include ./_partials/amp/_ampLandingCustom.css %>


</head>

<body>

    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
        <% include ./_partials/amp/_ampLandingSidebar.ejs %>
    </amp-sidebar>

    <header class="header fixed">
        <% include ./_partials/amp/_ampLandingHeader.ejs %>
    </header>

    <div class="wrap">
        <div itemscope itemtype="http://schema.org/Article" class="content">
          <!-- http://schema.org/Article -->
          <% include ./_partials/amp/_schemaArticle.ejs %>

          <!-- ########################## Hero ############################### -->

            <section class="hero">
                <div class="container">
                    <div class="hero-image">

                        <div class="lines tablet-up">
                            <div class="blueTriangle">
                                <amp-img height=900 src="/images/blueTriangle.png">
                                </amp-img>
                            </div>
                        </div>
                        <!-- /lines -->

                        <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject" class="phone tablet-up">
                            <amp-img height=1423 width=1200 layout=responsive
                                srcset="/images/home_hero_phone.png 750w,
                                /images/home_hero_phone@1_5x.png 600w,
                                /images/home_hero_phone@1x.png 400w"
                                src="/images/home_hero_phone.png">
                                <meta itemprop="url" content="https://wiki.instar.de/images/home_hero_phone.png">
                                <meta itemprop="width" content="1200">
                                <meta itemprop="height" content="1423">
                            </amp-img>
                        </div>
                        <!-- /phone -->

                    </div>
                    <!-- /hero image -->

                    <div class="hero-content">
                        <div class="intro-container">
                            <h1 itemprop="name">INSTAR Wiki 2.0</h1>
                            <h4 class="margin">Wissensdatenbank für Ihre IP Kamera und Netzwerküberwachung</h4>
                            <p class="intro tablet-up">
                              Diese Datenbank wird verwaltet von der INSTAR Deutschland GmbH und zielt darauf ab Sie bei der Installation Ihrer IP Kamera oder Netzwerküberwachung Software und Hardware zu unterstützen. Nutzen Sie die Wiki Suche um Antworten auf Ihre Frage zu erhalten. Oder starten Sie gleich den Installation Assistenten um Ihre INSTAR IP Kamera zum Laufen bekommen.
                            </p>
                            <a class="btn" href="https://install.instar.de" target="_blank">Installations-Assistent</a>
                            <br class="tablet-down">
                            <br class="tablet-down margin">
                            <span class="cta_connector light">oder</span>
                            <a class="underlined cta" href="https://instar.de" target="_blank">Besuchen Sie Uns</a>
                        </div>
                        <!-- /intro container -->

                    </div>
                    <!-- /hero content-->

                </div>
                <!-- /container -->
            </section>
            <!-- /hero -->

            <!-- ########################## TOC ############################### -->

            <section class="introductions desktop-up">
                <h2>Wiki Themen</h2>
                <div class="introductions-row">

                    <div class="introduction">
                        <div class="introduction-image">
                            <amp-img height=130 width=139 layout=responsive src="/images/Documentation_Icons.png">
                            </amp-img>
                        </div>
                        <div class="introduction-content">
                            <h3 class="title">Dokumentation</h3>
                            <div class="desc">Das Produkte Kapitel beinhaltet Produktbeschreibungen, technische Spezifikationen, Handbücher und Software Downloads.</div>
                        </div>
                    </div>

                    <div class="introduction">
                        <div class="introduction-image">
                            <amp-img height=92 width=77 layout=responsive src="/images/Guide_Icon.png">
                            </amp-img>
                        </div>
                        <div class="introduction-content">
                            <h3 class="title">Installationshilfe</h3>
                            <div class="desc">Das Einrichten einer IP Kamera erfordert einiges Fachwissen. Unser Wiki hilft Ihnen mit einfachen Schritt-für-Schritt Anleitungen.</div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- ########################## Products ############################### -->

            <% include ./_partials/amp/_ampProducts.ejs %>

            <!-- ########################## Footer ############################### -->

            <footer class="desktop-up">
              <% include ./_partials/amp/_amp-footer.ejs %>
            </footer>

            <amp-install-serviceworker
              src="https://wiki.instar.de/ServiceWorker3/pwabuilder-sw.js"
              layout="nodisplay">
            </amp-install-serviceworker>

        </div>
    </div>

</body>

</html>
