<% include _partials/template/_head_NO_WRAP.ejs %>

<body>
    <% include _partials/template/_outdated.ejs %>

        <header><% include _partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- #############################################  Maintenance ############################################# -->
        <!--  -->
          <section class="slanding">
            <div class="container">
              <div class="row">
                <h1 class="headline">Wartungsarbeiten</h1>
                <hr>
                <p>Aufgrund von Wartungsarbeiten ist unser Suchdienst z.Z. leider nicht erreichbar. Wir bitten dies zu entschuldigen.</p>
                <p>Klicken Sie bitte auf den folgenden Link um auf die Übersichtsseite des Wikis zu gelangen- <a href="/">Homepage</a>.</p>
              </div>
            </div>
          </section>
        <!--  -->

        <!-- ##############################  Search Results Header ############################## -->
        <!--
        <section class="slanding">
          <div class="container"
            <div class="row">
                <% if (response.hits.total > 0) { %>
                    <h1 class="headline hidden-sm-down">Suchergebnisse</h1>
                    <h3 class="headline hidden-md-up">Ergebnisse<h3>
                    <hr>
                    <br/>
                    <h2 class="subheader">Die Suche dauerte <%= response.took %> Millisekunden</h2>
                    <h5 class="text-muted">Maximale Übereinstimmung: "<%= response.hits.max_score %>"</h5>
                    <% } else { %>
                        <h1 class="headline hidden-sm-down">Keine Ergebnisse gefunden!</h1>
                        <h3 class="headline hidden-md-up">Keine Ergebnisse<h3>
                        <br/>
                        <h2 class="subheader hidden-sm-down">¯\_(ツ)_/¯ Ihr Suchbegriff brachte leider keine Treffer ¯\_(ツ)_/¯</h2>
                        <h3 class="subheader hidden-md-up">¯\_(ツ)_/¯</h3>
                  <% } %>
                  <h2 class="subheader"><i class="fa fa-angle-double-down" aria-hidden="true"></i></h2><br/>
           </div>
         </div>
       </section>

       <section class="container" style="margin-bottom: 200px;">
           <div class="row">

             <% if (response.hits.total > 0) { %>
               <div class="card-columns hidden-sm-down">
                     <% for(var i=0; i<response.hits.hits.length;i++){ if (i === 8) { break; } %>
                         <div class="card card-inverse shadow mt" style="background-color: #333; border-color: #333;">
                             <a href="<%= response.hits.hits[i]._source.link %>">
                               <img class="card-img-top img-fluid" src="<%= response.hits.hits[i]._source.image %>" alt="<%= response.hits.hits[i]._source.title %>">
                            </a>
                              <div class="card-block" style="height: 215px;">
                                  <h4 class="card-title"><%= response.hits.hits[i]._source.title %></h4>
                                  <p class="card-text"><%= response.hits.hits[i]._source.abstract %></p>
                                  <a href="<%= response.hits.hits[i]._source.link %>" class="btn btn-primary hidden-lg-down">Mehr</a>
                              </div>
                         </div>
                     <% } %>
                 </div>

                 <% for(var i=0; i<response.hits.hits.length;i++){ if (i === 8) { break; } %>
                   <div class="card card-inverse shadow mt hidden-md-up" style="background-color: #333; border-color: #333;">
                    <a href="<%= response.hits.hits[i]._source.link %>">
                      <img class="card-img-top img-fluid" src="<%= response.hits.hits[i]._source.image %>" alt="<%= response.hits.hits[i]._source.title %>">
                    </a>
                      <div class="card-block">
                        <h4 class="card-title"><%= response.hits.hits[i]._source.title %></h4>
                        <p class="card-text"><%= response.hits.hits[i]._source.abstract %></p>
                      </div>
                    </div>
                  <% } %>

                  <% } else { %>
                    <div class="card-deck-wrapper mb">
                        <div class="card-deck">
                          <div class="card">
                            <img class="card-img-top img-fluid" src="/images/banner_search_products_de.png" alt="Instar Products">
                            <div class="card-block">
                              <h4 class="card-title">Produkte</h4>
                              <p class="card-text">Alle Informationen über INSTAR Produkte. Downloads, Technische Spezifikationen und mehr.</p>
                              <a href="/Products/" class="btn btn-secondary">Mehr</a>
                            </div>
                          </div>
                          <div class="card">
                            <img class="card-img-top img-fluid" src="/images/banner_search_quick-install_de.png" alt="Quick Installation">
                            <div class="card-block">
                              <h4 class="card-title">Schnell-Installation</h4>
                              <p class="card-text">Installieren Sie Ihre INSTAR Kamera - lesen Sie diese Anleitung, wenn Sie mehr Informationen benötigen.</p>
                              <a href="/Quick_Installation/" class="btn btn-secondary">Mehr</a>
                            </div>
                          </div>
                          <div class="card">
                            <img class="card-img-top img-fluid" src="/images/banner_search_internet_access_de.png" alt="Internet Access">
                            <div class="card-block">
                              <h4 class="card-title">Internet Zugriff</h4>
                              <p class="card-text">Alle INSTAR Kameras können über das Internet erreicht werden - klicken Sie hier für mehr zu DDNS, P2P &amp; Co.</p>
                              <a href="/Internet_Access/" class="btn btn-secondary">Mehr</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-deck-wrapper mt">
                          <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top img-fluid" src="/images/banner_search_motion_detection_de.png" alt="Motion Detection">
                              <div class="card-block">
                                <h4 class="card-title">Bewegungserkennung</h4>
                                <p class="card-text">Nutzen Sie Ihre INSTAR Kamera um benachrichtigt zu werden, wenn jemand den Überwachungsbereich betritt.</p>
                                <a href="/Motion_Detection/" class="btn btn-secondary">Mehr</a>
                              </div>
                            </div>
                            <div class="card">
                              <img class="card-img-top img-fluid" src="/images/banner_search_advanced_user_de.png" alt="For Developers">
                              <div class="card-block">
                                <h4 class="card-title">Für Experten</h4>
                                <p class="card-text">IP Kameras sind kleine Computer, mit denen man weit mehr anstellen kann. Binden Sie Ihre Kamera in existierende System ein.</p>
                                <a href="/Advanced_User/" class="btn btn-secondary">Mehr</a>
                              </div>
                            </div>
                            <div class="card">
                              <img class="card-img-top img-fluid" src="/images/Search/P_SearchThumb_Shop.jpg" alt="INSTAR Shop">
                              <div class="card-block">
                                <h4 class="card-title">INSTAR Shop</h4>
                                <p class="card-text">Sind Sie interessiert an einer IP Kamera? Oder benötigen Sie Zubehör für Ihre IP Kameraüberwachung?</p>
                                <a href="http://instar.de" class="btn btn-secondary" target="_blank">Go Shopping</a>
                              </div>
                            </div>
                          </div>
                        </div>
                  <% } %>

            </div>
        </section>

        <footer><% include _partials/template/_footer.ejs %></footer>

            <% include _partials/template/_jsdefaults_NO_WRAP.ejs %>

      </section>
        -->
</body>

</html>
